/* .featured {
  margin: auto;
  overflow: hidden;
} */
/* .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #088178;
} */
.featured .row > div {
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  transition: 0.3s;
}
.featured .row > div:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}
.row {
  margin: 0 !important;
}