.product {
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
  transition: 0.3s;
}
.product:hover {
  transform: translateY(-10px);
}
.brand {
  color: #606063;
}
.price {
  color: #088178;
}
.icon {
  background-color: #e8f6ea;
  color: #088178;
  cursor: pointer;
  transition: 0.3s;
}
.icon:hover {
  background-color: #088178;
  color: white;
}